<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>

    <%- include('includes/navbar') %>    

    <h1>Lista de todos os filmes</h1>

    <table id="filmes">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th></th>
        </tr>
        <tr>
          <td>AAA</td>
          <td>TESTE AAA</td>
          <td>Ver detalhes</td>
        </tr>
        <% filmes.forEach(filme => { %>
          <tr>
            <td><%= filme.id %></td>
            <td><%= filme.nome %></td>
            <td> <a href="/filmes/<%= filme.id %>"> Ver detalhes </a> </td>
          </tr>
        <% }) %>
    </table>
</body>

</html>